a.button{width:90px;text-align:center;display:block;font-family:arial;text-decoration:none;font-weight:300;font-size:14px;border:#1071ff 1px solid;color:#1071ff;padding:3px;padding-left:5px;padding-right:5px;margin:20px auto;transition:.5s;border-radius:0}a.button:hover{top:5px;transition:.5s;color:#10ff58;border:#10ff58 1px solid;border-radius:10px}a.button:active{color:#000;border:#1a1a1a 1px solid;transition:.07s;background-color:#fff}
